body {
    background: linear-gradient(135deg, #f0f0f0, #d0d0d0);
    font-family: "Poppins", sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.main-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    position: relative;
}

.header {
    text-align: center;
    margin-bottom: 40px;
    animation: fadeIn 1s ease-in; /* Animação de desvanecimento */
    background-color: rgba(255, 255, 255, 0.9); /* Fundo levemente opaco */
    padding: 30px; /* Espaçamento interno */
    border-radius: 15px; /* Bordas arredondadas */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Sombra mais pronunciada */
}

.header-title {
    font-size: 3rem;
    margin: 0;
    color: #333;
    animation: slideIn 0.5s forwards; /* Animação de deslizamento */
}

.intro {
    font-size: 1.2rem;
    margin: 0;
    opacity: 0; /* Início invisível para a animação */
    animation: fadeIn 1s 0.5s forwards; /* Animação de desvanecimento com atraso */
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px; /* Margem superior para espaçamento */
}

.nav-list li {
    display: inline;
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s, transform 0.2s; /* Transição para cor e transformação */
}

.nav-list a:hover {
    color: #007BFF; /* Cor do hover */
    transform: scale(1.1); /* Aumento sutil ao passar o mouse */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

.float-section {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.float-section:hover {
    transform: translateY(-10px);
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.project {
    background-color: rgba(224, 224, 224, 0.8);
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.2s;
}

.project:hover {
    transform: scale(1.02);
}

p {
    line-height: 1.6;
}

.copyright {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9rem;
    color: #666; 
}

.footer {
    text-align: center;
    margin-top: 40px;
}
