body {
    background-color: rgb(255, 255, 255); 
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.1)); 
    z-index: -1;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 200px;
}

.typing {
    border-right: 2px solid rgb(0, 0, 0);
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {
    0% { border-color: transparent; }
    50% { border-color: black; }
    100% { border-color: transparent; }
}

#PhImage {
    height: 210px;
    width: auto;
    border: 1px solid black; 
    border-radius: 10px;
    margin-left: 100px;
}

.NameContainer {
    color: rgb(0, 0, 0);
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    max-width: 600px;
}

h1 {
    font-size: 3rem;
    margin: 0;
    line-height: 1.2;
}

p {
    font-size: 1.5rem;
    margin: 5px 0;
    line-height: 1.3;
}

#themeToggle {
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
    border: 1px solid black; 
    border-radius: 5px;
    background-color: transparent;
    color: inherit;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
}

#themeToggle:hover {
    color: gray;
}

h2 {
    color: black; 
    font-size: 3rem;
    margin-top: 50px;
    text-align: center;
}


.about-section {
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
    transition: transform 0.3s;
    text-align: center; 
}

.about-section:hover {
    transform: translateY(-10px); 
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.about-section p {
    color: rgb(0, 0, 0); 
    font-size: 1.3rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto; 
}


body.dark-theme {
    background-color: rgb(0, 0, 0); 
    color: white;
}

body.dark-theme #themeToggle {
    border: 1px solid rgb(255, 255, 255);
}

body.dark-theme .NameContainer {
    color: white;
}

body.dark-theme #PhImage {
    border: 1px solid white;
}

body.dark-theme .about-section {
    background-color: rgba(0, 0, 0, 0.276); 
}

body.dark-theme .about-section p {
    color: rgb(255, 255, 255); 
}

body.dark-theme::before {
    background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.8)); 
}
